<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y | S Mens</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="static/css/menhair.css">
   
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
  </head>
<body>


  <section id="home">
    <div class="parallex">
      <div class="parallex-content">
      </div>
    </div>
  </section>

  <div class="content">
    <p class="center" data-aos="zoom-in" data-aos-duration="2000" >
       MENS STYLE
    </p>
    <p class="center-down" data-aos="zoom-in" data-aos-duration="2000" >
      We Improve Your Impression.
  </p>
 </div>

    <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Y | S </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav   me-auto  mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-dark active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark active" aria-current="page" href="/booking" target="_blank">Book Now</a>
              </li>
          </ul>
          </div>
        </div>
      </nav>

    
    <section  id="style">
        <div class="container3">
          <h1><u>Styles</u></h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
          <img src="static/img/fadecut.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title primary">Fade Haircut</h5>
              <p class="card-text">Its versatility allows you to match the type of fade to your preferences, hair type and, importantly, face shape. High or low, bald or tapered, the variety of options is endless.</p>
            </div>
          </div>
            </a>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/tapercut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Tapper Haircut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/buzzcut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Buzz Haircut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/crewcut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Crew Haircut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/ivycut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Ivy League HairCut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/longcut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Long top Short sides</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/frenchcut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Frech Crop Cut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="booking.html" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/undercut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">UnderCut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/fauxcut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Faux Hawk</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/flowcut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Flow Cut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/pompadourcut.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Pompadour Cut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/quiff.webp" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title">Quiff Cut</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    </section>


    <footer id="Place">
      <div class="container6">
      <div class="footer">
        <div class="row">
          <div class="col">
            <div class="logo">
            <h1>Y | S</h1>
            </div>
          </div>
          <div class="col">
        <h1>HEAD OFFICE</h1>
        <ul>
          <li>3rd Block Bhashyam Circle,</li>
          <li>Rajajinagar,</li>
          <li>Bengaluru,</li>
          <li>Karnataka 560010</li>
        </ul>
      </div>
      <div class="col">
        <h1>LINKS</h1><br>
          <a href="#home">Home</a><br>
          <a href="#about">About Us</a><br>
          <a href="#style">Style</a><br>
          <a href="#Our_Team">Our Team</a><br>
          <a href="#locate_us">Locate Us</a>
      </div>
      <div class="col">
        <h1>Email Us</h1>
        <p>urstyle@gmail.com</p><br>
        <p>+91 9876554321</p>
        <hr>
        <div class="socials">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl" style="color: #005eff;"></i></a>
        <a href="https://www.instragram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl" style="color: #ff00bb;"></i></a>
        <a href="https://www.x.com" target="_blank"><i class="fa-brands fa-x-twitter fa-2xl" style="color: #000000;"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin fa-2xl" style="color: #005eff;"></i></a>
      </div>
      </div>
      </div>
      </div>
      </div>
    </footer>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
