<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
    <style>
        body{
            border: 3px solid #00BFFF;
            width: 600px;
            margin-left: 30%;
            background-color: black;
            color: white;
            text-align: center;
            margin-top: 300px;
        }
    </style>
</head>
<body>
   <h1>Your Details is Successfully Submitted:) </h1> 
   <p>your details you entered is submitted and it is securely maintained.</p>
</body>
</html>