<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y | S Women</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="static/css/womenhair.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>


  <section id="home">
    <div class="parallex">
      <div class="parallex-content">
      </div>
    </div>
  </section>

  <div class="content">
    <p class="center" data-aos="zoom-in" data-aos-duration="2000" >
       WOMENS STYLE
    </p>
    <p class="center-down" data-aos="zoom-in" data-aos-duration="2000" >
        We Care Your Pride.
    </p>
 </div>

    <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Y | S </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav   me-auto  mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-dark active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark active" aria-current="page" href="booking.html" target="_blank">Book Now</a>
              </li>
          </ul>
          </div>
        </div>
      </nav>

    
    <section  id="style">
        <div class="container3">
          <h1><u>Styles</u></h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
          <img src="static/img/sleekstraight.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title primary">Sleek and Straight</h5>
              <p class="card-text">This should be your go-to if you’re looking at professional haircuts for women. Straighten your hair using a blow dryer, then go over it with a flat iron. For incredibly smooth, frizz-free strands, finish with a smoothing serum.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/typicalBob.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Typical Bob</h5>
              <p class="card-text">The traditional bob is always a smart choice and is similar to a solid life insurance policy in that it is always certain to pay off! This cut will be simple to handle and always in style if you use minimum layers and smooth styling.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/sideswept.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Side Swept</h5>
              <p class="card-text">Think of short side-swept bangs as your go-to style for giving a basic cut personality. The best aspect is that they are quite hassle-free.

              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/longbeach.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Long Beach Waves</h5>
              <p class="card-text">This is a great long haircut for women. Long beach waves are not only beautiful to look at, but they are also quite simple to make. Simply braid your hair into a loose plait while it’s still damp to get the look, then let it air dry naturally. This look is a popular haircut for women with long hair.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/fullbangs.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Full Bangs</h5>
              <p class="card-text">We especially love and think it looks great when styled on long hair! </p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/sidesweptcrop.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Side-Swept Crop</h5>
              <p class="card-text">If you take the plunge and get this cut, you’ll have many people calling you brave. But it will create a lasting impact and impression for sure. The deep part and long bangs make it look edgy yet so elegant. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/faceframeinig.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Face-Framing Waves</h5>
              <p class="card-text">The best part about face-framing waves is that they suit almost every face shape whether it’s a rectangle or oval. The best way to pull off this look is to embrace your natural texture and work with that. It’s that easy!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/curls.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Curls</h5>
              <p class="card-text">More and more, ladies are choosing to embrace their curls and let their hair go wild! And we absolutely love that because what’s better than flaunting your natural hair? Curl girls have not had the right tools and products to switch things up, but that’s changed now! If you want to achieve volume, you can ask your hairstylist to cut a lot of layers,</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/layers.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Layers,Layers,Layers</h5>
              <p class="card-text">There’s a reason why everyone loves layers! Almost everyone who wants some extra volume resorts to layers. The best part is that they will never fail us. And this is the reason why they’re timeless and not going anywhere. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/choppylob.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Choppy Lob</h5>
              <p class="card-text">A “lived-in” look is something that everyone wants to achieve. This layered long bob does just that! To go for that extra flair, you can pair it with some side-swept bangs. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking" target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/sleekshoulder.png" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <h5 class="card-title">Sleek Shoulder Cut</h5>
              <p class="card-text">This haircut appears to be prepared for a ladies’ lunch, and we are here for it. A shoulder cut with layers is difficult to top.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <a href="/booking " target="_blank">
          <div class="card" data-aos="zoom-in" data-aos-duration="2000">
            <img src="static/img/voluminous.png" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title">Voluminous Layer</h5>
              <p class="card-text">Ladies with curly hair, this one’s for you. Layers all over your head will make things lighter for volume that doesn’t feel heavy.</p>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    </section>


    <footer id="Place">
      <div class="container6">
        <div class="footer">
          <div class="row">
            <div class="col">
              <div class="logo">
              <h1>Y | S</h1>
              </div>
            </div>
            <div class="col">
              <h1>HEAD OFFICE</h1>
              <ul>
              <li>3rd Block Bhashyam Circle,</li>
              <li>Rajajinagar,</li>
              <li>Bengaluru,</li>
              <li>Karnataka 560010</li>
            </ul>
            </div>
            <div class="col">
              <h1>LINKS</h1>
              <a href="#home">Home</a><br />
              <a href="#about">About Us</a><br />
              <a href="#style">Style</a><br />
              <a href="#Our_Team">Our Team</a><br />
              <a href="#locate_us">Locate Us</a>
            </div>
            <div class="col">
              <h1>CONTACT</h1>
              <p>urstyle@gmail.com</p>
              <p>+91 9876554321</p>
              <hr>
              <div class="socials">
                <a href="https://www.facebook.com" target="_blank"
                  ><i
                    class="fa-brands fa-facebook fa-2xl"
                    style="color: #005eff"
                  ></i
                ></a>
                <a href="https://www.instragram.com" target="_blank"
                  ><i
                    class="fa-brands fa-instagram fa-2xl"
                    style="color: #ff00bb"
                  ></i
                ></a>
                <a href="https://www.x.com" target="_blank"
                  ><i
                    class="fa-brands fa-x-twitter fa-2xl"
                    style="color: #000000"
                  ></i
                ></a>
                <a href="https://www.linkwsin.com" target="_blank"
                  ><i
                    class="fa-brands fa-linkedin fa-2xl"
                    style="color: #005eff"
                  ></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
